<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jet & Jade - Travel To Your Dream Destination</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/custom.css">
    <link rel="shortcut icon" href="/img/logo.webp" type="image/x-icon">
</head>
<body>
    <%- include("./partials/header") %>

    <%- include("./partials/hero") %>

    <%- include("./partials/destinations") %>
    
    <%- include("./partials/features") %>

    <%- include('./partials/testimonials') %>

    <%- include("./partials/carousel") %>

    <%- include("./partials/footer") %>

    <script src="/js/index.js"></script>
</body>
</html>